.text-info {
  width: 30%;
}

.input-form {
  display: flex;
  flex-wrap: wrap;
}

.page-personal {
  display: flex;
  margin-top: 24px;
}

.form-group {
  width: 45%;
  margin-left: 5%;
  margin-top: 1.75rem;
}

.input {
  background: #f3f6f9;
  border-radius: 10px;
  border: none;
  height: 2.5rem;
  width: 100%;
  margin-top: 5px;
  height: 56px;
}

.input-label {
  font-weight: 700;
  color: #011f4b;
}

.password-info {
  color: #b5b5c3;
  font-size: 14px;
}

.password-rules {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 8px;
}

@media (max-height: 775px) {
  .personal-input {
    height: 35px;
  }
  .password-info {
    font-size: 10px;
  }
  .input-label {
    font-size: 13px;
  }
}

@media (max-width: 875px) {
  .page-personal {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .form-group {
    width: 88vw;
  }

  .page-personal {
    flex-direction: column;
  }
}
