.text-info {
  width: 30%;
}

.input-form {
  display: flex;
  flex-wrap: wrap;
}

.personal-infopage {
  display: flex;
  flex-direction: row;
}

.form-group {
  width: 45%;
  margin-left: 5%;
  margin-top: 1.75rem;
}

.input {
  background: #f3f6f9;
  border-radius: 10px;
  border: none;
  height: 2.5rem;
  width: 100%;
  margin-top: 5px;
}

.input-label {
  font-weight: 700;
  color: #011f4b;
}

.password-info {
  color: #b5b5c3;
  font-size: 0.7rem;
}

.password-rules {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 8px;
}
