.box-title {
  font-weight: 700;
  color: #011f4b;
}

.information-text {
  color: #ffffff;
}

.information-box {
  background: #0db2f2;
  border-radius: 10px;
  padding: 0.85rem;
  font-size: 1rem;
  width: 75%;
  max-width: 210px;
}

.text-box {
  margin-top: 1.5rem;
  width: 30%;
}
