.box-title {
  font-weight: 700;
  color: #011f4b;
  width: max-content;
  margin-top: 0;
}

.information-text {
  color: #ffffff;
  font-size: 15px;
  width: 243px;
  height: 112px;
}

.information-box {
  background: #0db2f2;
  border-radius: 10px;
  height: 131px;
  width: 277px;
  display: flex;
  justify-content: space-evenly;
}

.text-box {
  margin-top: 24px;
  width: 277px;
}

@media (max-width: 874px) {
  .information-box {
    height: 100px;
    width: 200px;
  }
  .information-text {
    font-size: 11px;
  }
  .text-box {
    margin: auto;
  }
  .box-title {
    margin: auto;
  }
  .information-box {
    margin: 10px auto;
  }
  .information-text {
    font-size: 12px;
    padding-left: 5px;
  }

  /* .text-box {
    display: none;
  } */
}
