.canceled-page {
  display: flex;
  height: calc(100vh - 58px);
}

.canceled-image {
  height: calc(100vh - 58px);
}

.info-cancel {
  color: #011f4b;

  font-weight: 700;
}

.main {
  font-size: 24px;
  margin-bottom: 0;
}

.secondary {
  margin-top: 12px;
}

.canceled-text-info {
  margin: auto;
}

@media (max-width: 550px) {
  .canceled-image {
    display: none;
  }
  .canceled-text-info {
    text-align: center;
  }
  .canceled-page {
    height: calc(100vh - 58px);
  }
}
