.footer-text {
  color: #005b96;
  font-weight: 700;
}

.footer {
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100vw;
  height: 25px;
}

.footer-text:hover {
  cursor: pointer;
}

.terms {
  margin-left: 6vw;
}

.version {
  margin-right: 6vw;
}

@media (max-width: 750px) {
  .footer {
    display: none;
  }
}

@media (max-height: 775px) {
  .footer {
    display: none;
  }
}
