.payments {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.payment-options {
  display: flex;
  flex-direction: row;
  margin: auto;
}

@media (max-width: 700px) {
  .payment-options {
    flex-direction: column;
  }
}
