.payments {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.payment-options {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 875px) {
  .payments {
    display: flex;
    flex-direction: column;
  }
  .payment-options {
    flex-direction: column;
  }
}
