.journey-card {
  width: 125px;
  height: 106px;
  background: #0db2f2;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.journey-number {
  color: white;
  font-size: 36px;
  margin: 0;
}

.journey-text {
  color: white;
  margin: 0;
}

@media (max-width: 435px) {
  .journey-card {
    width: 100px;
  }
}

@media (max-width: 380px) {
  .journey-card {
    width: 125px;
    margin-top: 20px;
  }
}
