.contact-text {
  color: #7e8299;
  font-size: 14px;
}

.menu-option {
  height: 5em;
}

.menu-icons {
  display: flex;
  width: 55%;
  justify-content: space-between;
  max-height: 81px;
  align-self: flex-end;
  margin: 0 auto;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.box-name {
  color: #011f4b;
  margin: 0;
 
  font-weight: 700;
}

.info-text {
  color: #7e8299;
  margin-top: 0;
  font-size: 1rem;
}

.heading {
  color: #011f4b;
  margin-bottom: 0;
  font-size: 1.5rem;
  align-self: flex-end;
}

.info-box {
  background: #f1fafe;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  height: 5em;
}

.contact-text {
  margin: 0;
  font-size: 0.8em;
}

.initials-circle {
  width: 4rem;
  height: 4rem;

  margin: auto 0 auto 0.8rem;
  background: #f6ca65;
  text-align: center;
  color: white;
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
}

.box-text {
  margin: auto;
  margin-left: 0.7rem;
}

.items-row {
  display: flex;
  justify-content: space-between;
}

.basic-info {
  display: flex;
}

.option-description {
  color: #cccccc;
  margin: 0;
  font-size: 14px;
}
